* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, ul {
    margin: 10px;
    padding: 10px;
}

p {
    margin: 5px;
}

#first {
    text-indent: 25px;
}

#first::first-letter {
    font-size: 2em;
    color: red;
}

.highlight {
    background-color: beige;
}